<h1 class="event-style">{{events.name}}</h1>
<h3 class="event-style">{{events.location}} - {{events.date}}</h3>
<h3 class="event-style">Hosted by: {{events.owner}}</h3></br>
<p class="event-style">{{events.description}}</p>

<p>if user is part of this event... </p>
<a href="/events/{{events._id}}/dashboard" class="btn btn-primary">Go to event dashboard</a> 
