<div class="col-sm-4" id="agenda">
    <p>
        <h4>Name: {{events.name}}</h4>
        Description: {{events.description}}<br>
        {{events.date}}<br>
        {{events.location}}
    </p></br>
</div>

<div class="col-sm-4" id="stops">
    <h3>{{events.stops}}
</div>
